PORT=
NODE_ENV=
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
FRONTEND_URL=
GOOGLE_SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_WORKSHEET_NAME=your_worksheet_name
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email
GOOGLE_PRIVATE_KEY="your_private_key"
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
BREVO_API_KEY=
BREVO_SENDER_NAME="Tech"
BREVO_SENDER_EMAIL="v.hari2812@gmail.com"
